* {
  box-sizing: border-box;
  margin: auto 0;
  padding: 0;
  text-align: center;
}
body {
  font-family: cursive;
}
input {
  border-radius: 2px;
  border-style: ridge;
  border-color: transparent;
  border-width: 0.5px;
  padding: 0.5%;
  box-shadow: 1px 1px 1px 1px rgb(109, 108, 108);
}
input:hover {
  border-color: rgb(0, 153, 255);
  box-shadow: none;
}
button {
  border-radius: 2px;
  border-color: transparent;
  margin: 1% auto;
  padding: 1%;
  background-color: rgb(93, 196, 132);
  color: aliceblue;
  font-weight: 900;
}
button:hover {
  outline: none;
}
h1 {
  margin: 3% auto 1%;
  font-family: "Press Start 2P", cursive;
}
#counter {
  position: absolute;
  right: 10%;
  top: 3%;
  padding: 3%;
  border: 1px solid rgb(93, 196, 132);
  border-radius: 50%;
  font-size: 2rem;
}
.game-div {
  display: flex;
  justify-content: center;
  border-top: 1px solid black;
  margin: auto 20%;
}
#player-left {
  padding: 20%;
  border-right: 1px solid black;
}
#player-right {
  padding: 20%;
}
