* {
  box-sizing: border-box;
  padding: 0;
  text-align: center;
}
body,
button,
input {
  font-family: cursive;
}
input {
  border-radius: 2px;
  border-style: ridge;
  border-color: transparent;
  border-width: 0.5px;
  padding: 0.5%;
  box-shadow: 1px 1px 1px 1px rgb(109, 108, 108);
  outline: none;
}
input:hover {
  border-color: rgb(93, 196, 132);
  box-shadow: none;
}
button {
  border-radius: 2px;
  border-color: transparent;
  margin: 1% auto;
  padding: 1%;
  background-color: rgb(93, 196, 132);
  color: aliceblue;
  font-weight: 900;
  outline: none;
  cursor: grab;
}
h1 {
  margin: 3% auto 1%;
  font-family: "Press Start 2P", cursive;
}
#counter {
  position: absolute;
  right: 10%;
  top: 3%;
  padding: 3%;
  border: 1px solid rgb(93, 196, 132);
  border-radius: 50%;
  font-size: 2rem;
  background-color: rgb(204, 236, 217);
}
.game-div {
  display: flex;
  justify-content: center;
  border-top: 1px solid black;
  margin: auto 20%;
}

#confetti-s,
#confetti-l {
  position: absolute;
  top: 0;
  left: 0;
}
#show-result {
  position: fixed;
  top: 25%;
  left: 45%;
  background-color: rgb(204, 236, 217);
  padding: 2%;
}
#player-s,
#player-l {
  padding: 15%;
  position: relative;
}
#player-s {
  border-right: 1px solid black;
}
#player-l p:not(#score-player-l),
#player-s p:not(#score-player-s) {
  color: rgb(93, 196, 132);
  font-size: 1.5rem;
  animation: swing 1s linear infinite alternate;
}
@keyframes swing {
  from {
    transform: rotate(10deg);
  }
  to {
    transform: rotate(-10deg);
  }
}
